:root {
    
    --accent-normal: #92ccbb66;
    
}

.little-icon {
    padding: 0.07rem;
    height: 1.7rem;
    width: auto;
}

h1
{
    margin: 0.5rem;
   
    font-family: "Playfair Display", serif;
}
h2
{
    margin: 0.5rem;
   
    font-family: "Satisfy", cursive;
}
h3
{
    margin: 0.5rem;
   
    font-family: "Satisfy", cursive;
    color: #daa520;
}
h4
{
    margin: 0.5rem;
    font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
}

p
{
    margin: 0.5rem;
   
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    overflow-x: hidden;
}


.button {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--accent-normal);
    border-radius: 0.75rem;
    color: rgb(7, 110, 31);
    text-decoration: none;
    transition: 0.2s;
    font-family: "Playfair Display", serif;
}

.button:hover {
    transform: scale(1.1);
    background-color: var(--accent-light);
}


.horizontal-display {
    display: flex;
    gap: 20px; /* Espacio entre los bloques de texto */
}
img {
    width: 70%;
    height: auto;
    border-radius: 0.5rem;
}


#audio {
    display: none;
}

#audio-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border-top: 1px solid var(--accent-normal);
}

.play {
    background-color: var(--accent-light);
    border-radius: 50%;
    cursor: pointer;
}

.background-image {
    background-image: url('flores.jpg');
    background-size: cover;
    background-attachment: fixed; /* Fondo fijo */
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #daa520;
    text-align: center;
}

.content {
    margin-top: 50px; /* Ajuste de la posición del primer bloque */
}

.content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.countdown {
    font-size: 1.5em;
}



.info-section {
    background-color: #9debc4;
    color: #333;
    padding: 50px;
    text-align: center;
   
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 3rem;
}

.icon {
    width: 100px;
    height: auto;
    /* filter: invert(); */
}
.text-overlay {
    color: #2dc63d8d;
    padding: 50px, 200px;
    text-align: center;
    /* margin: 50px 0; */ /* Separación entre bloques */
}

.locations {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.location h3 {
    font-size: 1.5em;
}

.location p {
    font-size: 1.2em;
}
